.requestBody {
    margin: 2rem;
    margin-bottom: 0px;
    padding: 0px;
}

.requestHeading {
    margin-bottom: 2rem;
    padding: 0px;
    color: white;
}

.request {
    display: block;
    margin: auto;
    outline: solid;
    outline-color: black;
    outline-width: thin;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
}

.buttonSubmit {
    display: block;
    margin: auto;
    border-radius: 5px;
    border-color: #00B3E9;
    background-color: #00B3E9;
    color: white;
    padding: 10px;
}

p{
    padding: 0px;
}