.uniLogoStyle {
    width: 100px%;
    height: auto;
}

.headerStyle {
    background-color: #00789C;
    color: white;
    margin: 0%;
    font-size: 50px;
}

div img {
    width: 250px;
    margin-right: 20rem;
}

div h1{
    /*text-align: center*/;
}